body{
    background-image: url(https://img.freepik.com/fotos-gratis/retrato-do-modelo-de-sorriso-bonito-do-homem-de-negocios-lumbersexual-do-moderno-a-moda-homem-vestido-com-roupas-de-jaqueta-jeans_158538-1737.jpg?size=626&ext=jpg) ;
    background-size: 100%;
    font-family: 'Roboto';
}
h1{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px ;
    
}

.container {
	float: left;
	margin-left: 20px;
	box-sizing: border-box;
    margin-top: 40px;
}



img {
    margin-left: 10px;
    margin: 10px;
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-sizing: border-box;
}
h2{
    margin-left: 20px;
    color: white;
}
